<% provide :title, t(".permission_review") %>

<div class="col-md-6 col-md-offset-3">
  <h1><%= t(".permission_review") %></h1>
  <p><%= t(".user") %>: <%= @register.user.name %></p >

  <p><%= t(".subject") %>: <%= @register.course.name %></p>

  <%= form_with model: @register do |form| %>
    <div>
      <p><%= form.select :status, Register.statuses.keys.to_a %></p>
    </div>

    <div class="control-group">
      <div class="controls">
        <div>
          <p><%= form.submit "Update" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
