<%= form_with model: course do |form| %>

  <div class="control-group">
    <p><%= form.label t(".name"), class: 'control-label' %></p>
    <div class="controls">
      <div>
        <p><%= form.text_field :name %></p>
        <% course.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <div>
        <p><%= form.label t(".description"), class: 'control-label' %></p>
        <p><%= form.text_area :description %></p>
        <% course.errors.full_messages_for(:description).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= form.label t(".status"), class: 'control-label' %>
    <div class="controls">
      <p><%= form.select :status, Course.statuses.keys.to_a %></p>
    </div>
  </div>

  <div class="control-group">
    <%= form.label t(".duration"), class: 'control-label' %>
    <div class="controls">
      <p><%= form.select :total_month, ['3', '6', '12'] %></p>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <div>
        <p><%= form.submit %></p>
      </div>
    </div>
  </div>
<% end %>
